@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
   
    /* font-family: 'Itim', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Slabo 27px', serif;   */
    /* font-family: 'Pacifico', cursive;  */
.home_section{
    position:relative;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    background-image:url("backgroung6.jpg");
    background-size:cover;
    background-position:center;
    min-height:100vh;
    position: relative;
    background-repeat: no-repeat;
}
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:30px 40px;
   display:flex;
   justify-content: space-between;
   align-items: center;
   z-index:1000; 

}
header .logo
{
    text-decoration:none;
    position: relative;
    color:navy;
    font-family: 'Itim', cursive;
    font-size:2em; 
    font-weight: 700;
    letter-spacing: 2px;
    
}
header .toggle{
    position: relative;
    width:50px;
    height: 50px;
    background:url(List_menu_toggle-128.png);
    background-repeat: no-repeat;
    background-size: 60px;
    cursor: pointer;
}
header .toggle.active{
    height: 50px;
    background:url(close.png);
    background-repeat: no-repeat;
    background-size: 60px;
    cursor: pointer;
}
.content{
    padding:2em;
    margin:0 auto;
    width:50em;
}

.navigation{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:white;
    transition:0.2s; 
    display:flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    visibility:hidden;
}
.navigation.active{
    opacity:1;
    visibility:visible; 
}
.navigation ul{
   
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navigation ul li{
    list-style-type:none;
}
.navigation ul li a{
    text-decoration: none;
    color:navy;
    display:inline-block;
    font-size:2em;
    padding:0.5em;
    font-family:'Itim', cursive;
}
.navigation ul li a:hover{
    color:rgb(228, 15, 182);
}

.home_section_title h1{
    font-size: 40px;
    
    text-align: center;
    color:white;
}
.home_section_search_bar{
    width:50%;
    border-radius:30px;
    background-color: white;
    margin:auto;  
   padding:8px;
}
.search_bar{
    display: flex;
}
 input[type=text] {

    border:3px solid blue;
    border-right: none;
    outline: none;
    font-family: inherit;
    width:100%;
    font-size:1.5em;
    height:2em;
    padding:0 0.5em;
    border-radius: 50px 0 0 50px;
}
.search_button{
    width:1.5em;
    height:2em;
    font-size:1.5em;
    border:3px solid blue;
    background-color: blue;
    color:white;
    border-radius: 0 50px 50px 0;
    
}
input[type=submit] {
    outline:none;
    border: 0;
    margin:0;
    outline: none;
    background-color: midnightblue;
    color: white;
    font-family: 'Itim', cursive;
    border-radius:30px;
    padding:8px;
  }
input[type=submit]:hover{
    background-color:dodgerblue;
  } 

 


footer{
display:inline-flex;
width:100%;
background-color:midnightblue;
color: white;

}

footer ul{
    list-style-type: none;
}

footer div{
    margin:0 11vw;
}

.destination-outer
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin:1vh;
}
.destinations{
    background-color: white;
   box-shadow: 0 0 10px grey; 
   text-align:justify;
    width:25%;
    margin:2vh;
    padding:2vh;
    position:relative;
}

  .destinations figure{
      margin-bottom:15px;
      padding:0;
      position:relative;
  }
  #destination_price{
      position: absolute;
      left:20px;
      bottom:-16px;
      width:50px;
      height:40px;
      background:orangered;
      border-radius:50%;
      padding:10px;
      color:white;
      font-weight:600;
      text-align: center;  
  }
  #destination_rating{
      position:absolute;
      right:0;
      bottom:1px;
      padding:5px;
      background:#ffffffce;
  }
  .destination_details{
      padding:5px;
  }
  .destinations .fa{
      color:orangered;
  }
  #destination_title{
      font-weight: bolder;
      font-size:larger;
      margin:2px;
  }
  #destination_text{
      margin-bottom:10px;
  }
  #destination_package span{
      padding:0 4px;
  }
  .fa{
      cursor: pointer;
  }
  @media screen and (max-width:800px) {
    .destination-outer,.destinations,footer{
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}